.gradle
.idea/
build/
eclipse/
forge-*-changelog.txt
idea-files/
misc-files/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
PlanterHelper.iml
PlanterHelper.ipr
PlanterHelper.iws
out/
release/
run/

